.questions-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.question-container {
    padding: 1.25rem;
    background-color: var(--body-bg);
    border-radius: 1rem;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.25s;
    position: relative;
}

.question-container.selected {
    background-color: var(--first-color);
    border-color: var(--second-color);
}

.question-title {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--dark-color);
    width: 100%;
    border: none;
    background-color: transparent;
    resize: none;
}

.choices-dropdown {
    margin-top: 1rem;
}

.choice-item {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}

.choice-item input {
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--dark-color);
    border-radius: 0.5rem;
}

.submit-button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--first-color);
    color: var(--text-color);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.25s;
}

.submit-button:hover {
    background-color: var(--second-color);
}
